sudo: required
env:
  DOCKER_COMPOSE_VERSION: 1.7.1
before_install:
- sudo rm /usr/local/bin/docker-compose
- curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname
  -s`-`uname -m` > docker-compose
- chmod +x docker-compose
- sudo mv docker-compose /usr/local/bin
- openssl aes-256-cbc -K $encrypted_35d59fde724e_key -iv $encrypted_35d59fde724e_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv .envpostgres /postgres.env
- mv .envsurtr /cmd/surtr/.env
- mv nginxcert.pem nginx/conf/fullchain.cert.pem
- mv nginxkey.pem nginx/conf/privkey.pem
services:
- docker
script:
- make test
