.modal-dialog {
    width: 200px;
}

form {
    color: black;
    text-align: left;
    width: 200px
}

form::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

form::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.table {
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
}

/*
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgba(200, 200, 200, 0.2) 
 }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: rgba(200, 200, 200, 0.2) 
 }
*/